body {
   
    background-color: #90ee90;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
        
}
li {
    display: inline;
    border: 2px solid blue
}
div#HeaderDiv {
    font-family: Verdana;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    
    
}
div#IntroDiv {
    font-family: Arial
    font-size-adjust: auto;
    font-size: 200%;
    text-align: center;
    width: 60%;
    padding: 10px;
    margin:auto
    
        
        
}